.main {
  display: flex;
  font-family: "Montserrat", sans-serif;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 50rem;
}

.input {
  border-radius: 30px;
  border: 3px solid #045974;
  width: 238px;
  height: 35px;
  color: #0F95C0;
  padding: 5px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

}

.submit {
  width: 54px;
  height: 43px;
  border-radius: 30px;
  border: none;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  background: #0E8EB6;
  color: white;
}

.submit:hover {
  background: #045974;
  color: white;
}

.weather {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5rem;
}

.weather {
  display: flex;
  align-self: center;
}

.currentWeather {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10rem;

}

.cityName {
  display: flex;
  color: #045974;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.64px;

  padding-left: 6em;
}

.todays {
  color: #045974;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.48px;
}

.updated {
  color: #045974;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}

.currentTemp {
  color: #045974;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
}

.currentWind {
  color: #045974;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}

.currentCondition {
  color: #045974;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}

.currentIcon {
  width: 15rem;
}


.fiveDayWeather {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20rem;
  flex-wrap: wrap;
}

.fiveCity {
  color: #045974;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.48px;
  padding-top: 6rem;
}

.fiveCondition {
  color: #045974;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.4px;
}

.fiveTemp {
  color: #045974;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.4px;
  padding-left: 1rem;
}

.fiveWind {
  color: #045974;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.4px;

}

.date {
  color: #045974;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.4px;
  padding-left: 2rem;
}

.fiveIcon {
  width: 4rem;
  padding-right: 1em;
}